///	移动端通用样式
@media screen and (max-width:1023PX) {
	:root {
		--theme-color:#E59D5D;
	}
	
	body{	
		// background-color: #17171F;
		background-color: #141225;
	}
	#app {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		// background-color: #17171F;
	}

	.root {
		max-width: 750px;
		display: flex;
		align-items: center;
		justify-content: center;
		/* overflow-x: hidden; */
	}

	#container {
		width: 100%;
	}

	.header_top {
		max-width: 750px;
		left: 50% !important;
		margin-left: -375px;
	}

	.el-notification.prize
	{
		background: #ff5252 !important;
		/* width: calc( 100% - 36px ); */
		width: 85%;
		padding-top: 16px !important;
		padding-bottom: 16px !important;
		border: none !important;
		color: #fff !important;
		overflow: visible !important;
	}

	.el-notification.prize .prize-container
	{
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 0 12px;
		box-sizing: border-box;
	}

	.el-notification.prize .prize-container .pn-prize-info
	{
		display: flex;
		gap: 12px;
		font-size: 30px;
		font-weight: 700;
		height: 100px;
		line-height: 15px;
	}

	.el-notification.prize .prize-container .prize-info
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		color: #fff !important;
	}

	.el-notification.prize .prize-container .pn-prize-info .nickname
	{
		font-size: 28px;
		font-weight: 400;
		line-height: 14px;
	}

	.el-notification.prize .prize-container .pn-prize-info span
	{
		color: #FFDF8E;
		font-size: 32px;
	}

	.el-notification.prize .prize-container .pn-prize-info .user-pic
	{
		width: 100px;
		height: 100px;
		border-radius: 12px;
		overflow: hidden;
	}

	.el-notification.prize .prize-container .pn-prize-info .user-pic img
	{
		width: 100%;
		height: 100%;
	}

	.el-notification.prize .el-notification__group
	{
		width: 100%;
		margin: 0 !important;
	}

	.el-notification.prize .el-notification__content
	{
		margin-right: 24px !important;
		width: 100%;
	}

	.el-notification.prize a,
	.el-notification.prize a:active
	{
		color: #fff;
		font-weight: 400;
		font-size: 28px;
		/* text-decoration: underline; */
	}

	.el-notification.prize .el-notification__closeBtn
	{
		position: absolute;
		left: -20px;
		top: -20px !important;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ff1a1a;
		border-radius: 50%;
		width: 48px;
		height: 48px;
		color: #fff;
		cursor: pointer;
	}
 

	/* #sidebar {
		right: 50% !important;
	} */

	.vue-back-to-top {
		right: 50% !important;
		margin-right: -345px;
	}

	.reg-left-Small {
		left: 50% !important;
		margin-left: -375px;
	}

	.van-popup--left {
		left: 45% !important;
		margin-left: -375px;
	}

	.van-popup--right {
		right: 50% !important;
		margin-right: -375px;
	}

	.number_span{
		font-family: RobotoM;
	}

	.van-loading__text,
	.van-list__finished-text {
		font-size: 26px !important;
		color: #ccc !important;
		margin: 100px auto;

	}

 
	.van-notify--danger {
		z-index: 1008 !important;
		box-shadow: 0px 18px 27px 0px rgba(12, 13, 23, 0.57);
		color: #FFF ;
		font-size: 32px;
		font-weight: 400;
		background: url(@/assets/romimg/common/failed.png) center no-repeat;
		background-size: cover;
		background-color: #0c0f17 !important;	
		width: 750px !important;
		height: 136px;
		line-height: 40px;
		text-align: center;
		padding: 0% 90px;
	}


	.van-notify--danger::before{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 10px;
		width: 100%;
		background-color: rgb(255 , 66, 93);
		animation: 3s fadein forwards ;
	}

	.van-notify--success {
		z-index: 1008 !important;
		box-shadow: 0px 18px 27px 0px rgba(12, 13, 23, 0.57);
		color: #FFF ;
		font-size: 32px;
		font-weight: 400;
		background: url(@/assets/romimg/common/success.png) center no-repeat;
		background-size: cover;
		background-color: #0c0f17 !important;	
		width: 750px !important;
		height: 136px;
		line-height: 40px;
		text-align: center;
		padding: 0% 90px;
		left:0;
		margin: 0;
	}


	.van-notify--success::before{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 10px;
		width: 100%;
		background-color: #77CE70;
		animation: 3s fadein forwards ;
	}
	
	@keyframes fadein {
		from{		
			width: 100%;
		}
		to{		
			width: 0%;
		}
	}
 
	.input-g{
		border-radius: 8px;
		background: #282838;
		color: #c2c7d7;
		border: none;
		box-sizing: border-box;
		padding: 0 20px; 
		opacity: 0.4;
	}

	.input-g::placeholder{
		color: #c2c7d7;
		opacity: 0.4;
		/* background-color: #1d1d2a;	*/
		/* opacity: 0.5; */
		/* padding: 30px 20px;
		position: absolute;
		top: 0;
		left: 0; */
	}
	.input-g:focus{
		color: #c2c7d7;	 
		box-sizing: border-box;
		opacity: 1 !important;
	}

	.input-g:focus::placeholder{
		color: #c2c7d7;	 
		box-sizing: border-box;
		opacity: 1 !important;
	}
}

@media screen and (min-width:1024PX) {
	html {
		font-size: 50PX !important;
	}

	::-webkit-scrollbar {
		width: 3px;
	}

	::-webkit-scrollbar-track {
		background-color: #1d1d26;
		border-radius: 3px
	}

	::-webkit-scrollbar-thumb {
		background-color: #272730;
		border-radius: 5px
	}
	.van-notify--danger {
		top: 40px !important;
		left: 50% !important;
		transform: translateX(-50%) !important;
		z-index: 1001 !important;
		padding: 40px 44px 30px !important;
		box-shadow: 0 36px 54px rgba(12, 13, 23, 0.57);
		border-bottom: 2px solid #babacb !important;
		border-bottom-color: #77ce70 !important;
		color: #dddde9;
		font-size: 28px;
		font-weight: 500;
		background-color: #0c0f17 !important;
		width: 700px !important;
		text-align: center;
		justify-content: center !important;
	}

	.van-loading__text,
	.van-list__finished-text {
		font-size: 13px !important;
		color: #ccc !important;
	}
}